<div class="main-wrapper">
  <!-- Start of header -->
  <header class="header">

    <!-- BANNER -->
    <app-banner></app-banner>
  </header>
  <!-- End of header -->
  
  <!-- Start of main -->
  <main class="main">
    <!-- ARTICLE -->
    <app-article></app-article>

    <!-- ACCORDION/TAB -->
    <app-data-list></app-data-list>

    <!-- Start of banana -->
    <div class="banana container pt-5 pb-5">
      Explain why the result of <span class="banana-code">('b' + 'a' + + 'a' + 'a').toLowerCase()</span> is banana:
      <div class="banana-answer p-3 rounded">
        <span class="banana-code">'b' + 'a' + + 'a' + 'a'</span> is evaluated as <span class="banana-code">'b' + 'a' + (+'a') + 'a'</span> and <span class="banana-code">(+'a')</span> is equal to <span class="banana-code">NaN</span> and with the use of <span class="banana-code">.toLowerCase()</span> it will produce the result <span class="banana-code">banana</span>.
      </div>
    </div>
    <!-- End of banana -->

  </main>
  <!-- End of main -->
</div>